<div #content (click)="toggle()" [pTooltip]="name"
     [tooltipDisabled]="isEditMode || isDragging"
     id="content"
     tooltipEvent="hover" tooltipPosition="top">
  <div *ngIf="initialized$()" class="flex flex-row justify-content-center">
    <i [ngClass]="[stateClass]" class="fa icon-big fa-lightbulb-o"></i>
  </div>
</div>
<p-overlayPanel #overlayPanel [appendTo]="content" [dismissable]="false">
  <div class="flex flex-column gap-2">
    <h4>{{ name }}</h4>
    <div *ngIf="infoCommandValues().signal" class="map-icon-value flex flex-row align-content-center gap-1">
      <div class="icon">
        <i class="fa fa-signal"></i>
      </div>
      <div class="value">
        {{ signalPercent }} %
      </div>
    </div>
  </div>
</p-overlayPanel>
<p-dialog (onHide)="closeModal()" [(visible)]="modalOpened" [dismissableMask]="true" [draggable]="false"
          [header]="name" [modal]="true" [resizable]="false"
          appendTo="body" position="bottom"
          styleClass="device-modal">
  <div class="flex flex-column gap-5">
    <div class="flex flex-row align-items-center gap-3">
      <i [ngClass]="[stateClass]" class="fa fa-lightbulb-o"></i>
      <p-slider [formControl]="brightnessControl" [max]="254" [min]="0"
                class="flex-1"></p-slider>
    </div>
    <div class="flex flex-row align-items-center gap-3">
      <i [ngClass]="[stateClass]" class="fa fa-fire"></i>
      <p-slider [formControl]="temperatureControl" [max]="370" [min]="153"
                class="flex-1"></p-slider>
    </div>
    <div class="flex flex-row justify-content-center align-items-center">
      <p-toggleButton [formControl]="lightControl" offIcon="fa fa-bolt"
                      onIcon="fa fa-bolt"></p-toggleButton>
    </div>
  </div>
</p-dialog>
