:host {
  display: block;
  position: absolute;
  padding: 5px;

  ::ng-deep {
    .p-overlaypanel {
      top: 100% !important;
      left: 0 !important;
      text-align: center;

      background-color: rgba(11, 33, 63, 0.8);
      border-color: rgba(11, 33, 63, 0.8);

      &:before, &:after {
        border-bottom-color: rgba(11, 33, 63, 0.8);
      }
    }
  }
}

.map-icon-value {
  font-size: 16px;
  line-height: 16px;

  .icon {
    width: 25px;
    text-align: center;
  }
}


