<div class="page-container__content" id="device">
  <form (submit)="handleSubmit()" [formGroup]="form" class="page-container__content__center">
    <p-card #pnl>
      <ng-template pTemplate="title">
        <div class="flex flex-row align-items-center">
          <a [routerLink]="['../']" class="p-button-rounded p-button-text"
             icon="pi pi-angle-left" pButton
             pRipple
             type="button"></a>
          <h5 *ngIf="this.device" class="text-center flex-grow-1">{{this.device.name}}</h5>
          <h5 *ngIf="!this.device" class="text-center flex-grow-1" i18n>New device</h5>
          <button class="p-button-rounded p-button-text"
                  icon="" pButton
                  pRipple
                  type="button"></button>
        </div>
      </ng-template>

      <h5 i18n>Informations principales</h5>
      <div class="field-row mobile-column field-float flex flex-row gap-2">
        <div class="flex-column col-4">
          <div class="p-float-label flex">
            <p-dropdown [autoDisplayFirst]="false"
                        [options]="deviceConnectivitiesIterable" appendTo="body" class="flex-1"
                        formControlName="connectivity"
                        i18n-placeholder inputId="connectivity"
                        optionLabel="value" optionValue="key" placeholder="Select a connectivity"
                        styleClass=""></p-dropdown>
            <label for="name" i18n>Connectivity</label>
          </div>
          <val-errors class="p-error" controlName="connectivity">
            <ng-template valError="required">
              <ng-container i18n>Connectivity is required.</ng-container>
            </ng-template>
          </val-errors>
        </div>
        <div class="flex-column col-4">
          <div class="p-float-label flex">
            <p-dropdown [autoDisplayFirst]="false"
                        [options]="deviceCategoriesIterable" appendTo="body" class="flex-1"
                        formControlName="category"
                        i18n-placeholder inputId="category"
                        optionLabel="value" optionValue="key" placeholder="Select a category"
                        styleClass=""></p-dropdown>
            <label for="name" i18n>Category</label>
          </div>
          <val-errors class="p-error" controlName="category">
            <ng-template valError="required">
              <ng-container i18n>Category is required.</ng-container>
            </ng-template>
          </val-errors>
        </div>
        <div *ngIf="category.value" class="flex-column col-4">
          <div class="p-float-label flex">
            <p-dropdown [autoDisplayFirst]="false"
                        [options]="deviceTypes" appendTo="body" class="flex-1"
                        formControlName="type"
                        i18n-placeholder
                        inputId="type"
                        optionLabel="value" optionValue="key" placeholder="Select a type"
                        styleClass=""></p-dropdown>
            <label for="name" i18n>Type</label>
          </div>
          <val-errors class="p-error" controlName="type">
            <ng-template valError="required">
              <ng-container i18n>Type is required.</ng-container>
            </ng-template>
          </val-errors>
        </div>

      </div>

      <div *ngIf="type.value">
        <div class="field-row mobile-column field-float flex flex-row gap-2">
          <div class="flex-column col-4">
            <div class="p-float-label">
              <input class="w-12" formControlName="name" id="name" pInputText type="text">
              <label for="name" i18n>Name</label>
            </div>
            <val-errors class="p-error" controlName="name">
              <ng-template valError="required">
                <ng-container i18n>Name is required.</ng-container>
              </ng-template>
              <ng-template valError="exist">
                <ng-container i18n>Device already exist.</ng-container>
              </ng-template>
            </val-errors>
          </div>
          <div class="flex-column col-4">
            <div class="p-float-label flex">
              <p-autoComplete (completeMethod)="filterJeedomDevices($event)"
                              [formControl]="importDeviceControl"
                              [group]="true" [suggestions]="filteredJeedomRooms()" class="w-12"
                              field="name" optionGroupChildren="devices" optionGroupLabel="name"></p-autoComplete>
              <label i18n>Import</label>
            </div>
          </div>
          <div class="flex-column col-4">
            <div class="p-float-label">
              <input class="w-12" formControlName="jeedomId" pInputText type="number">
              <label i18n>Jeedom ID</label>
            </div>
            <val-errors class="p-error" controlName="jeedomId">
              <ng-template valError="required">
                <ng-container i18n>Jeedom ID is required.</ng-container>
              </ng-template>
            </val-errors>
          </div>
        </div>

        <h5 i18n>Position</h5>
        <div [formGroup]="position" class="field-row flex flex-row gap-2">
          <div class="flex-column col-6">
            <div class="flex flex-column">
              <label class="inline-label" for="name" i18n>Position x</label>
              <p-inputNumber [min]="0" [showButtons]="true" [step]="1" buttonLayout="horizontal"
                             class="flex-1" decrementButtonClass="p-button-danger"
                             decrementButtonIcon="pi pi-minus" formControlName="x"
                             incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                             inputId="horizontal" suffix="px">
              </p-inputNumber>
            </div>
            <val-errors class="p-error" controlName="x">
              <ng-template valError="required">
                <ng-container i18n>X position is required.</ng-container>
              </ng-template>
            </val-errors>
          </div>
          <div class="flex-column col-6">
            <div class="flex flex-column">
              <label class="inline-label" for="name" i18n>Position y</label>
              <p-inputNumber [min]="0" [showButtons]="true" [step]="1" buttonLayout="horizontal"
                             class="flex-1" decrementButtonClass="p-button-danger"
                             decrementButtonIcon="pi pi-minus" formControlName="y"
                             incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                             inputId="horizontal" suffix="px">
              </p-inputNumber>
            </div>
            <val-errors class="p-error" controlName="y">
              <ng-template valError="required">
                <ng-container i18n>Y position is required.</ng-container>
              </ng-template>
            </val-errors>
          </div>
        </div>

        <div *ngIf="parameterValues.length > 0">
          <h5 i18n>Custom values</h5>
          <div class="field-column flex-column gap-2" formArrayName="parameterValues">
            <div *ngFor="let paramForm of parameterValues.controls; let i = index" [formGroupName]="i"
                 class="flex field-row field-float">
              <div class="flex-column flex-1">
                <div class="p-float-label">
                  <input class="w-12" formControlName="key" pInputText type="text">
                  <label i18n>Parameter name</label>
                </div>
                <val-errors class="p-error" controlName="key">
                  <ng-template valError="required">
                    <ng-container i18n>Parameter name is required.</ng-container>
                  </ng-template>
                </val-errors>
              </div>
              <div class="flex-column flex-1">
                <div class="p-float-label flex">
                  <input class="w-12" formControlName="value" pInputText>
                  <label i18n>Parameter value</label>
                </div>
                <val-errors class="p-error" controlName="value">
                  <ng-template valError="required">
                    <ng-container i18n>Parameter value is required.</ng-container>
                  </ng-template>
                </val-errors>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="configurationValues.length > 0">
          <h5 i18n>Configuration values</h5>
          <div class="field-column flex-column gap-2" formArrayName="configurationValues">
            <div *ngFor="let configForm of configurationValues.controls; let i = index" [formGroupName]="i"
                 class="flex field-row field-float">
              <div class="flex-column flex-1">
                <div class="p-float-label">
                  <input class="w-12" formControlName="key" pInputText type="text">
                  <label i18n>Configuration name</label>
                </div>
                <val-errors class="p-error" controlName="key">
                  <ng-template valError="required">
                    <ng-container i18n>Configuration name is required.</ng-container>
                  </ng-template>
                </val-errors>
              </div>
              <div class="flex-column flex-1">
                <div class="p-float-label flex">
                  <input class="w-12" formControlName="value" pInputText>
                  <label i18n>Configuration value</label>
                </div>
                <val-errors class="p-error" controlName="value">
                  <ng-template valError="required">
                    <ng-container i18n>Configuration value is required.</ng-container>
                  </ng-template>
                </val-errors>
              </div>
            </div>
          </div>
        </div>

        <h5 i18n>Info Commands</h5>
        <div class="field-column flex-column gap-2" formArrayName="infoCommandIds">
          <div *ngIf="infoCommandIds.controls.length === 0" i18n>No info commands</div>
          <div *ngFor="let commandForm of infoCommandIds.controls; let i = index" [formGroupName]="i"
               class="flex field-row field-float">
            <div class="flex-column flex-1">
              <div class="p-float-label">
                <input class="w-12" formControlName="key" pInputText type="text">
                <label i18n>Command name</label>
              </div>
              <val-errors class="p-error" controlName="key">
                <ng-template valError="required">
                  <ng-container i18n>Command name is required.</ng-container>
                </ng-template>
              </val-errors>
            </div>
            <div class="flex-column flex-1">
              <div class="p-float-label flex">
                <input class="w-12" formControlName="value" pInputText type="number">
                <label i18n>Command id</label>
              </div>
              <val-errors class="p-error" controlName="value">
                <ng-template valError="required">
                  <ng-container i18n>Command id is required.</ng-container>
                </ng-template>
              </val-errors>
            </div>
          </div>
        </div>

        <h5 i18n>Action Commands</h5>
        <div class="field-column flex-column gap-2" formArrayName="actionCommandIds">
          <div *ngIf="actionCommandIds.controls.length === 0" i18n>No action commands</div>
          <div *ngFor="let commandForm of actionCommandIds.controls; let i = index" [formGroupName]="i"
               class="flex field-row field-float">
            <div class="flex-column flex-1">
              <div class="p-float-label">
                <input class="w-12" formControlName="key" pInputText type="text">
                <label i18n>Command name</label>
              </div>
              <val-errors class="p-error" controlName="key">
                <ng-template valError="required">
                  <ng-container i18n>Command name is required.</ng-container>
                </ng-template>
              </val-errors>
            </div>
            <div class="flex-column flex-1">
              <div class="p-float-label flex">
                <input class="w-12" formControlName="value" pInputText type="number">
                <label i18n>Command id</label>
              </div>
              <val-errors class="p-error" controlName="value">
                <ng-template valError="required">
                  <ng-container i18n>Command id is required.</ng-container>
                </ng-template>
              </val-errors>
            </div>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <div class="flex flex-row">
          <button (click)="remove()" *ngIf="device" [disabled]="loading" class="p-button-danger hide-label-mobile"
                  i18n-label
                  icon="pi pi-trash"
                  label="Delete" pButton pRipple
                  type="button"></button>
          <div class="flex-grow-1"></div>
          <div class="flex flex-row gap-3">
            <button *ngIf="device" i18n-label icon="pi pi-check" label="Update" pButton pRipple
                    type="submit"></button>
            <button *ngIf="!device" i18n-label icon="pi pi-check" label="Add" pButton pRipple
                    type="submit"></button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </form>
  <p-confirmDialog #cd header="Confirmation" i18n-header icon="pi pi-exclamation-triangle" key="device">
    <p-footer>
      <button (click)="cd.reject()" i18n-label icon="pi pi-times" label="No" pButton
              pRipple
              type="button"></button>
      <button (click)="cd.accept()" class="p-button-danger" i18n-label icon="pi pi-check" label="Yes" pButton
              pRipple
              type="button"></button>
    </p-footer>
  </p-confirmDialog>
  <p-blockUI [blocked]="loading" [target]="pnl">
    <p-progressSpinner></p-progressSpinner>
  </p-blockUI>
</div>
