<div #content (click)="openModal()" [pTooltip]="name"
     [tooltipDisabled]="isEditMode || isDragging"
     tooltipEvent="hover" tooltipPosition="top">
  <div *ngIf="initialized$()" class="flex flex-column gap-2">
    <div *ngIf="infoCommandValues().temperature" class="map-icon-value flex flex-row align-content-center gap-1">
      <div class="icon">
        <i class="fa fa-thermometer-half"></i>
      </div>
      <div class="value">
        {{ infoCommandValues().temperature }}°
      </div>
    </div>
    <div *ngIf="infoCommandValues().humidity" class="map-icon-value flex flex-row align-content-center gap-1">
      <div class="icon">
        <i class="fa fa-tint"></i>
      </div>
      <div class="value">
        {{ infoCommandValues().humidity }} %
      </div>
    </div>
    <div *ngIf="infoCommandValues().pression && parameterValues.pression" class="map-icon-value flex flex-row align-content-center gap-1">
      <div class="icon">
        <i class="fa fa-cloud"></i>
      </div>
      <div class="value" title="hPA">
        {{ infoCommandValues().pression }}
      </div>
    </div>
    <div *ngIf="infoCommandValues().co2 && parameterValues.co2" class="map-icon-value flex flex-row align-content-center gap-1"  [ngClass]="{'color-warn' : infoCommandValues().co2 > 800, 'color-danger' : infoCommandValues().co2 > 1200}">
      <div class="icon">
        <i class="fa fa-user"></i>
      </div>
      <div class="value" title="CO2">
        {{ infoCommandValues().co2 }}
      </div>
    </div>
    <div *ngIf="!isEditMode && hasLowBattery"
         class="flex flex-row align-content-center gap-2 color-danger icon-big">
      <i class="fa fa-exclamation-triangle"></i><i class="fa fa-battery-empty"></i>
    </div>
  </div>
</div>
<p-overlayPanel #overlayPanel [appendTo]="content" [dismissable]="false">
  <div class="flex flex-column gap-2">
    <h4>{{ name }}</h4>
    <div *ngIf="infoCommandValues().battery" class="map-icon-value flex flex-row align-content-center gap-1">
      <div class="icon">
        <i [ngClass]="[batteryIcon]" class="fa"></i>
      </div>
      <div class="value">
        {{ infoCommandValues().battery }} %
      </div>
    </div>
    <div *ngIf="infoCommandValues().signal" class="map-icon-value flex flex-row align-content-center gap-1">
      <div class="icon">
        <i class="fa  fa-signal"></i>
      </div>
      <div class="value">
        {{ signalPercent }} %
      </div>
    </div>
  </div>
</p-overlayPanel>
<p-dialog (onHide)="closeModal()" [(visible)]="modalOpened" [dismissableMask]="true" [draggable]="false"
          [header]="name" [modal]="true" [resizable]="false"
          appendTo="body" position="bottom"
          styleClass="device-modal max-width">
  <div class="flex flex-column">
    <app-history *ngIf="modalOpened" [deviceCommands]="deviceCommands"></app-history>
  </div>
</p-dialog>
