<blockable-div #lockable class="page-container__content">
  <div #page id="page">
    <div #map [class]="{draggable: !switchEditModeFormControl.value}" id="map">
      <img #plan (mousedown)="$event.preventDefault()" alt="Plan" src=""/>
      <ng-template #container></ng-template>
    </div>
  </div>
  <div class="actions flex align-items-center justify-content-end gap-4">
    <p-progressSpinner *ngIf="apiLoading" animationDuration="2s" fill="var(--surface-ground)" strokeWidth="8"
                       styleClass="w-2rem h-2rem"></p-progressSpinner>
    <p-inputSwitch [formControl]="switchEditModeFormControl"></p-inputSwitch>
  </div>
</blockable-div>
<p-blockUI [blocked]="mapLoading" [target]="lockable">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>
