<div class="page-container__content h-full">
  <p-table #dt [loading]="loading" [pageLinks]="2" [paginator]="true" [rows]="10"
           [value]="devices()" breakpoint="400px" dataKey="id"
           responsiveLayout="scroll" scrollHeight="flex"
           styleClass="p-datatable-m">
    <ng-template pTemplate="header">
      <tr>
        <th i18n>Name</th>
        <th class="tablet-hidden" i18n>Connectivity</th>
        <th class="mobile-hidden" i18n>Category</th>
        <th class="mobile-hidden" i18n>Type</th>
        <th i18n>Jeedom ID</th>
        <th>
        </th>
      </tr>
      <tr>
        <th>
          <p-columnFilter field="name" matchMode="contains">
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="tablet-hidden">
          <p-columnFilter [showMatchModes]="false" [showMenu]="false" [showOperator]="false" display="row"
                          field="connectivity" matchMode="in">
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <p-multiSelect (onChange)="filter($event.value)"
                             [ngModel]="value" [options]="deviceConnectivities.toKeyValues()" [selectionLimit]="3"
                             [showHeader]="false"
                             optionLabel="value"
                             optionValue="key">
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="mobile-hidden">
          <p-columnFilter [showMatchModes]="false" [showMenu]="false" [showOperator]="false" display="row"
                          field="category" matchMode="in">
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <p-multiSelect (onChange)="filter($event.value)"
                             [ngModel]="value" [options]="deviceCategories.toKeyValues()" [selectionLimit]="3"
                             [showHeader]="false"
                             optionLabel="value"
                             optionValue="key">
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="mobile-hidden">
          <p-columnFilter [showMatchModes]="false" [showMenu]="false" [showOperator]="false" display="row"
                          field="type" matchMode="in">
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <p-multiSelect (onChange)="filter($event.value)"
                             [ngModel]="value" [options]="deviceTypes.toKeyValues()" [selectionLimit]="3"
                             [showHeader]="false"
                             optionLabel="value"
                             optionValue="key">
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="jeedomId" matchMode="contains">
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <a [routerLink]="['add']"
             class="p-button-rounded p-button-success p-button-text"
             icon="pi pi-plus"
             pButton
             pRipple></a>
        </th>
      </tr>
    </ng-template>
    <ng-template let-device pTemplate="body">
      <tr>
        <td>
          {{ device.name }}
        </td>
        <td class="tablet-hidden">
          {{ device.connectivityLabel }}
        </td>
        <td class="mobile-hidden">
          {{ device.categoryLabel }}
        </td>
        <td class="mobile-hidden">
          {{ device.typeLabel }}
        </td>
        <td>
          {{ device.jeedomId }}
        </td>
        <td class="align-right">
          <a [routerLink]="[device.slug]"
             class="p-button-rounded p-button-success p-button-text"
             icon="pi pi-pencil"
             pButton
             pRipple></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" i18n>No devices found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
