$mobile-portrait-breakpoint-width: 440px;
$mobile-breakpoint-width: 750px;
$tablet-breakpoint-width: 1100px;

$header-desktop-height: 90px;
$header-mobile-height: 64px;

$page-width: 600px;

$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 32px;
